/* styles.css */

@keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 45%;
    }
    to {
      transform: translateY(0);
      opacity: 100%;
    }
  }
  
  .animate-slide-up {
    animation: slideUp 0.5s ease-in-out;
  }
  